
.venv/
venv/
env/
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
train/images/
valid/images/
test/images/
runs/detect/*/weights/last.pt
runs/detect/*/weights/epoch*.pt
runs/detect/*/cache/
runs/detect/*/*.cache
runs/detect/train8/weights/best.pt 
runs/detect/train8/results.csv      
runs/detect/train8/results.png     
yolov8n.pt
yolov8s.pt
yolov8m.pt
yolov8l.pt
yolov8x.pt
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.ipynb_checkpoints/
